.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 25px 15px;
  transition: width 0.5s ease-in-out, margin-right 0.5s ease-in-out;
  overflow: hidden;
  width: 300px;
}
.sidebar.collapsed {
  width: 80px;
}
.new-chat {
  transition: margin-right 0.3s ease;
}

.recent {
  transition: opacity 0.3s ease;
}

.recent-entry {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: padding 0.3s ease;
}

.collapsed .recent-title,
.collapsed .recent-entry p,
.collapsed .new-chat p {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.collapsed .recent-entry {
  padding: 10px 5px;
}

.sidebar img {
  width: 20px;
}

.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar .new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 7px 15px;
  background-color: #e6eaf1;
  border-radius: 50px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
}

.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar .recent-entry {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}

.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
